.mouse::before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    /* -webkit-animation: wheel 1.3s infinite; */
}

@keyframes wheel {
        100% {
            opacity: 0;
            top: 40px;
    }
}